@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
/*--------------------------------------------------------*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*--------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

html, body, .main-container {
  height: 100%;
}

/*--------------------------------------------------------*/
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.attribution {
  padding-top: 2.5vw;
}

/*--------------------------------------------------------*/
@media all and (min-width: 400px) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: lightcyan;
  }
  .card-summary {
    width: 25vw;
    height: auto;
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1.5vw;
  }
  .card-summary > img {
    width: 100%;
    height: auto;
    border-radius: 1.5vw 1.5vw 0 0;
  }
  .card-summary > h2 {
    margin-top: 5%;
    font-weight: bold;
    font-size: 2vw;
  }
  .card-summary > p {
    margin: 5%;
    font-size: 1.1vw;
    padding: 0 2vw 0 3vw;
  }
  .card-summary > button {
    margin: 5% 0 3% 0;
    background-color: #3829e0;
    color: white;
    border-radius: 0.7vw;
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
    width: 20vw;
    height: 3vw;
  }
  .card-summary > a {
    text-decoration: none;
    color: #7280a7;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1vw;
    padding-bottom: 10%;
  }
  .payment-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5%;
    background-color: #e0f5ff;
    width: 20vw;
    height: auto;
    border-radius: 0.7vw;
    padding: 1.5vw 0 1.5vw 0;
  }
  .payment-card > img {
    width: 2.5vw;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 1vw 0 1vw;
  }
  .payment-card .price-card {
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 3.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .payment-card .price-card #p-plan {
    width: 6.5vw;
    font-size: 1vw;
    font-weight: bold;
  }
  .payment-card .price-card #p-price {
    width: 5.5vw;
    font-size: 1vw;
  }
  .payment-card > a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1vw;
  }
  .attribution {
    font-size: 0.7vw;
  }
}

@media all and (max-width: 400px) {
  body {
    background-image: url("./images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: salmon;
  }
  .card-summary {
    width: 85vw;
    height: auto;
    background-color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5vw;
  }
  .card-summary > img {
    width: 100%;
    height: auto;
    border-radius: 5vw 5vw 0 0;
  }
  .card-summary > h2 {
    margin-top: 5%;
    font-weight: bold;
    font-size: 8vw;
  }
  .card-summary > p {
    margin: 5%;
    font-size: 4vw;
    padding: 0 1.5vw 0 1.5vw;
  }
  .card-summary > button {
    margin: 5% 0 3% 0;
    background-color: #3829e0;
    color: white;
    border-radius: 2vw;
    font-weight: bold;
    font-size: 5vw;
    cursor: pointer;
    width: 75vw;
    height: 10vw;
  }
  .card-summary > a {
    text-decoration: none;
    color: #7280a7;
    font-weight: bold;
    cursor: pointer;
    font-size: 4vw;
    padding-bottom: 10%;
  }
  .payment-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5%;
    background-color: #e0f5ff;
    width: 75vw;
    height: auto;
    border-radius: 2.5vw;
    padding: 4vw 0 4vw 0;
  }
  .payment-card > img {
    width: 10vw;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 4vw 2vw;
  }
  .payment-card .price-card {
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .payment-card .price-card #p-plan {
    width: 30vw;
    font-size: 4vw;
    font-weight: bold;
  }
  .payment-card .price-card #p-price {
    width: 5.5vw;
    font-size: 4vw;
  }
  .payment-card > a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    font-size: 4vw;
  }
  .attribution {
    font-size: 2.5vw;
  }
}
/*# sourceMappingURL=styles.css.map */